.Navigation {
    background-color: #12161e;

    width: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 60px;

    position: fixed;
    height: 100vh;
}

.Navigation button {

    font-size: 1.3rem;
    font-weight: bold;

    background-color: transparent;
    border: none;
    white-space: nowrap;
    width: 100%;
    color: #388bfd;
    text-align: center;

    padding: 10px 0px;
    transition: .5s;

    cursor: pointer;

    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

    border-color: #3d4858;
    border-right-width: 5px;
    border-right-style: solid;
}

.Navigation .Navigation-Selected {
    border-color: #a52a2a;
}

.Navigation button.active,
.Navigation button:hover {

    border-color: #388bfd;
    text-decoration: underline;
    transition: .5s;
}


@media(max-width: 900px) {

    .Navigation {
        visibility: hidden;
        opacity: 0;
        width: 0px;
        transition: .2s;
    }

    .mainContent {
        padding-left: 0 !important;
    }
}

@media(max-width: 952px) {

    .Navigation {
        visibility: flex;
        transition: .2s;
    }

}