#codingPageContent{
    padding-left: 250px;
}

#codingPageContent .ContentItem{
    display: flex;
    margin: calc(100% * 0.05);
    flex-direction: column-reverse;
    
    border-color: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 5px 5px;
}

#codingPageContent .TextSectionTittle{
    color: #388bfd;;

    font-size: 2.3rem;
    text-align: center;
    overflow-x: auto;
}

#codingPageContent .TextSectionDescription{
    white-space: break-spaces;
    color: #929292;
    word-wrap: normal;

    font-size: 1.3rem;

    overflow-x: auto;
    padding: 0px 10px;
    height: 100%;  
}

#codingPageContent .TextSectionSkills{
    font-size: 1.3rem;

    width: 100%;
    background-color: #141a22;
    display: flex;

    align-items: center;

    overflow-x: auto;
    height: 80px;
}

#codingPageContent .TextSectionSkills h2{

    margin: 0px 8px;
    color:#388bfd;

    white-space: nowrap;

    background-color: #0f376f;
    padding: 3px 5px;

    border-radius: 20px;

}

#codingPageContent .PictureSection{
    display: flex;
    flex: 1;

    align-items: end;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-color: #424242;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

#codingPageContent .PictureSection img{
    display: flex;
    margin: auto;
    width: calc(100% / 1.4);
    max-width: 350px;
}

#codingPageContent .PictureSectionNavigation{
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;

}

#codingPageContent .PictureSectionNavigation input{
    height: 15px;
    width: 15px;
    margin-bottom: 10px;
}