#HomePageContent {    
    padding-top: 60px;
    margin: auto;
    color: white;
    text-align: center;

    overflow: visible;
    scroll-snap-type: y mandatory;
}

#HomePageContent .contentTittle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: clamp(300px, 21vw, 350px);
    background-color: rgba(0, 0, 0, 0.178);
    background-blend-mode: multiply;
}

#HomePageContent .contentTittle ul{
    display: contents;
    height: inherit;
    flex-direction: column;
    align-content: center;

    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#HomePageContent .contentTittle li{
    height: inherit;
}

#HomePageContent .contentTittle img{
    height: inherit;
}

#HomePageContent .contentTittle h1{
    font-size: clamp(25px, 10vw, 65px);
    position: absolute;
    color: #f7f9ff;
    z-index: 1;

    background-color: #00000020;
    padding: 3px 10px;
}

#HomePageContent .contentItem {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    scroll-snap-align: start;

    padding: 0 10px;
    max-height: 1000px;

    margin: 100px auto;
    max-width: 1800px;

    background-size: 0;
}

#HomePageContent .invertFlex{
    flex-direction: row-reverse;
}

#HomePageContent .invertFlex .itemText{
    flex: 0.5;
    margin-left: 10vh;
    margin-right: 0;
}

#HomePageContent .itemText{
    flex: 0.5;
    margin-right: 10vh;
    margin-left: 0vh;
    padding-bottom: 4vh;
}

#HomePageContent .itemText h1{
    font-size: 2.5rem;
}

#HomePageContent .itemText h2{
    font-size: 1.3rem;
}

#HomePageContent .itemText a button{
    font-size: 1.5rem;
    color: #adadad;
    text-decoration: none; 

    padding: 0;
    border: none;

    border-color: #3396e2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    
    background-color: transparent;
}

#HomePageContent .itemImages{
    flex: 0.5;
    margin: 0;
    padding: 0;
}

#HomePageContent .itemImages img{
    width: 100%;
}

@media(max-width: 1000px){
    #HomePageContent .itemImages{
        display: none;
    }

    #HomePageContent .itemText{
        margin: auto;
    }

    #HomePageContent .invertFlex .itemText{
        flex: 0.5;
        margin: auto;
    }

    #HomePageContent .contentItem {
        display: block;
        
        margin: 150px 0;

        padding-top: 0.1vh;
        padding-bottom: 0.1vh;

        background-color: #383838;
        background-size: cover;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;

        animation-name: example;
        animation-duration: 1s;
    }

}

@keyframes example {
    0%   {  
        background-color: #000000;
    }

    100% {  
        background-color: #383838;
    }
}