#HomePageContent {
    margin: auto;
    color: white;
    text-align: center;

    overflow: visible;
    scroll-snap-type: y mandatory;
}

#HomePageContent .contentTittle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 90vh;
    background-color: rgba(0, 0, 0, 0.178);
    background-blend-mode: multiply;
}

#HomeTittleSlide {
    height: inherit;
    width: 100%;
}

#HomeTittleSlide .splide__arrows {
    display: none;
}

#HomeTittleSlide .splide__track {
    height: inherit;
}

#HomeTittleSlide .splide__list {
    height: inherit;
    display: flex;
    padding: 0;
    margin: 0;
}

#HomeTittleSlide .splide__slide,
#HomeTittleSlide .splide__slide img {
    height: inherit;
    width: auto !important;
    margin-right: 0 !important;
}


#HomeTittleSlide .splide__pagination {
    display: none;
}

#HomePageContentx .contentTittle ul {
    display: contents;
    height: inherit;
    flex-direction: column;
    align-content: center;

    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#HomePageContentx .contentTittle li {
    height: inherit;
}

#HomePageContentx .contentTittle img {
    height: inherit;
}

#HomePageContent .tittleHolder {
    font-size: 2rem;
    text-align: left;

    position: absolute;
    z-index: 1;

    width: 90%;
    bottom: 40px;


    color: #f7f9ff;
    cursor: default;
}

#HomePageContent .contentItem {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    scroll-snap-align: start;

    padding: 0 10px;
    height: 100vh;

    margin: 100px auto;
    max-width: 1800px;

    background-size: 0;
}

#HomePageContent .invertFlex {
    flex-direction: row-reverse;
}

#HomePageContent .invertFlex .itemText {
    flex: 0.5;
    margin-left: 10vh;
    margin-right: 0;
}

#HomePageContent .itemText {
    display: flex;
    flex-direction: column;

    flex: 0.5;
    margin-right: 10vh;
    margin-left: 0vh;
}

#HomePageContent .itemText a {
    display: flex;
    border: none;

    margin: auto;

    justify-content: center;
    text-decoration: none;
}

#HomePageContent .itemText a button {
    display: flex;
    align-items: center;

    cursor: pointer;

    font-size: 1.5rem;
    color: #adadad;
    text-decoration: none;

    gap: 10px;

    padding: 0;
    border: none;

    background-color: transparent;
}

#HomePageContent .itemImages {
    flex: 0.5;
    margin: 0;
    padding: 0;
}

#HomePageContent .itemImages img {
    width: 100%;
}

@media(max-width: 1000px) {
    #HomePageContent .itemImages {
        display: none;
    }

    #HomePageContent .itemText {
        margin: auto;
    }

    #HomePageContent .invertFlex .itemText {
        flex: 0.5;
        margin: auto;
    }

    #HomePageContent .contentItem {
        display: block;

        margin: 150px 0;

        padding-top: 0.1vh;
        padding-bottom: 0.1vh;

        background-color: #383838;
        background-size: cover;
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;

        animation-name: example;
        animation-duration: 1s;
    }

}

@keyframes example {
    0% {
        background-color: #000000;
    }

    100% {
        background-color: #383838;
    }
}