#codingPageContent {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    padding-left: 250px;
}

#codingPageContent .ContentItem {
    display: flex;
    flex-direction: column-reverse;

    margin: clamp(10px, calc(100% * 0.05), 50px) 0;
    max-width: 1000px;
    width: 90%;

    border-color: #2c2c2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 5px 5px;
}

#codingPageContent .TextSectionTittle {
    color: #388bfd;
    ;

    font-size: 2.3rem;
    text-align: center;
    overflow-x: auto;
}

#codingPageContent .TextSectionDescription {
    white-space: break-spaces;
    color: #929292;
    word-wrap: normal;

    font-size: 1.3rem;

    overflow-x: auto;
    padding: 0px 10px;
    height: 100%;
}

#codingPageContent .TextSectionSkills {
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #141a22;

    overflow-x: auto;
    padding: 20px 10px;

}

#codingPageContent .TextSectionSkills h2 {

    margin: 0px 8px;
    color: #388bfd;
    white-space: nowrap;

    background-color: #0f376f;
    padding: 5px 20px;

    border-radius: 20px;
}

#codingPageContent .PictureSection {
    display: flex;
    flex: 1;

    align-items: end;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-color: #424242;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

#codingPageContent .PictureSection img {
    height: auto;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}

#codingPageContent .PictureSectionNavigation {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
}

#codingPageContent .PictureSectionNavigation input {
    height: 15px;
    width: 15px;
    margin-bottom: 10px;
}